<!--
  Generated template for the LoginPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Sign in</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <form (submit)='onSubmit($event)'>
        <ion-list no-lines>
            <!-- Username input -->
            <ion-item>
                <ion-label floating>User name</ion-label>
                <ion-input type='text' name='userName'
                           #nameInput='ngModel' [(ngModel)]='authRequest.userName' required></ion-input>
            </ion-item>
            <!-- Error message displayed if the name is invalid -->
            <ion-item *ngIf='nameInput.invalid && nameInput.dirty'>
                <p ion-text color='danger'>Name is required.</p>
            </ion-item>
            <!-- Password input -->
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type='password' name='password'
                           #passwordInput='ngModel' [(ngModel)]='authRequest.password' required></ion-input>
            </ion-item>
            <!-- Error message displayed if the password is invalid -->
            <ion-item *ngIf='passwordInput.invalid && passwordInput.dirty'>
                <p ion-text color='danger'>Password is required.</p>
            </ion-item>

            <!-- Submit button -->
            <ion-item>
                <button type='submit' [disabled]='form.invalid' ion-button full>Log in</button>
            </ion-item>

            <!-- Error message displayed if the login failed -->
            <ion-item *ngIf='loginError'>
                <p ion-text color='danger'>Name or password is invalid.</p>
            </ion-item>

            <!-- Signup button -->
            <ion-item>
                <button ion-button full color="secondary" (click)="goToSignUp()">Don't have an account? Sign up!</button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
