<ion-header>
    <ion-navbar>
        <ion-title>{{group.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <!-- List members and recipes -->
    <ion-list *ngIf="mode === 'list'">
        <!-- Members divider -->
        <ion-item color="primary">
            <h2>Members</h2>
            <ion-icon name="add" color="dark" item-end (click)="addMember()"></ion-icon>
        </ion-item>

        <!-- Members -->
        <ion-item *ngFor="let m of group.members">
            <ion-avatar item-start>
                <img src="assets/icon/user.png" alt="User">
            </ion-avatar>
            <h2>{{m.userName}}</h2>
            <ion-icon name="close" item-end></ion-icon>
        </ion-item>

        <!-- Recipes divider -->
        <ion-item color="primary">
            <h2>Recipes</h2>
            <ion-icon name="add" color="dark" item-end (click)="addRecipe()"></ion-icon>
        </ion-item>

        <!-- Recipes -->
        <ion-item *ngFor="let r of group.recipes">
            <ion-avatar item-start>
                <img src="assets/icon/recipe.png" alt="Recipe">
            </ion-avatar>
            <h2>{{r.name}}</h2>
            <ion-icon name="close" item-end></ion-icon>
        </ion-item>

    </ion-list>

    <!-- Add new member -->
    <div *ngIf="mode === 'addMember'">
        <ion-item>
            <ion-label>Choose a user</ion-label>
            <ion-select [(ngModel)]="newMember">
                <ion-option *ngFor="let u of allUsers" [value]="u">{{u.userName}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button (click)="addUserToGroup()">Add to group</button>
        <button ion-button color="secondary" (click)="cancel()">Cancel</button>
    </div>

    <!-- Add new recipe -->
    <div *ngIf="mode === 'addRecipe'">
        <ion-item>
            <ion-label>Choose a recipe</ion-label>
            <ion-select [(ngModel)]="newRecipe">
                <ion-option *ngFor="let r of allRecipes" [value]="r">{{r.name}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button (click)="addRecipeToGroup()">Add to group</button>
        <button ion-button color="secondary" (click)="cancel()">Cancel</button>
    </div>
</ion-content>
