<ion-header>
    <ion-navbar>
        <ion-title>Plan a meal</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!recipes && groups">
        <!-- Select the group -->
        <ion-item>
            <ion-label>Choose a group</ion-label>
            <ion-select [(ngModel)]="group">
                <ion-option [value]="g" *ngFor="let g of groups">{{g.name}}</ion-option>
            </ion-select>
        </ion-item>

        <!-- Choose a date -->
        <ion-item>
            <ion-label>Choose a date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
        </ion-item>

        <!-- "Find a recipe" button" -->
        <ion-item>
            <button ion-button (click)="findRecipe()">Find a recipe</button>
        </ion-item>
    </ion-list>

    <!-- Select the recipe -->
    <ion-select [(ngModel)]="recipe" *ngIf="recipes">
        <ion-option [value]="r" *ngFor="let r of recipes">{{r.name}}</ion-option>
    </ion-select>

</ion-content>
